<p>Przekazywanie asynchronicznych danych ze smart componentu do dumb komponentu</p>
<div *ngIf="testData$ | async as syncTestData; else boxLoader">
  <ros-test-child bgColor="yellow"

  (childUpdate)="childUpdateHandler($event)"
  [childInput]="syncTestData"></ros-test-child>
</div>
<ng-template #boxLoader>Loading.....</ng-template>

<hr>
<p>Input #refVariable i odświeżanie stanu tylko po evencie</p>
<div>
<input #myTestInput class="m-3" (keyup)="keyupHandler()">
{{ myTestInput.value }}
</div>

<div rosToggle="red"
rosToggleEventType="click"
rosToggleFirstClass="color1"
rosToggleSecondClass="color2">Child clicks counter: {{ childCounter }}</div>

